/* Creates a box around all elements on page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Sets a color backround for the whole document */
body {
    background-color: #d9dcd6;
}

/* Gives H1 and the navigation bar its visual attributes */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Allows H1 and the nav list to be in one horizontal line */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Changes s and e characters in Horiseon title to same color as background */
header h1 .seo {
    color: #d9dcd6;
}

/* Structures the three links in navigation bar and gives them a font attribute  */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Prevents bullets or numbers from showing up on each element of the list */
header nav ul {
    list-style-type: none;
}

/* Puts nav elements in line a certain distance from h1 */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* text attributes for links in nav bar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set paragraph font size */
p {
    font-size: 16px;
}

/* First visual element seen large image on opening page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Organizes and styles content of all three section */
.contents{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Set size of images in each section */
.contents img {
    max-height: 200px;
    }
    
/* Section headings style attributes */
.contents h2 {
    margin-bottom: 20px;
    font-size: 36px;
    }

/* Sets second sections image to left side of page a cerain distance from the edge =*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets second sections image to right side of page a cerain distance from the edge =*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets how much of the page to be taken and location of three sections to left of page  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets structure for right hand panel of articles */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* change font color and puts space between it and the following article */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* change font color and puts space between it and the following article */
.benefit .h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets constraints and visual implementation of images in each article */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* 
Styles footer text and padding. Also clears it of the float so it ges across the whole bottom of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Overrides only h2 font size */
footer h2 {
    font-size: 20px;
}
